<nav class="nav">
  
    <div class="logo-box text-center">
      <a href="javascript:void(0)">
        <img src="../../assets/logo/TransMonitor.png" alt="logo">
      </a>
    </div>
  
    <div class="navbar-items">
      <div class="navbar-left">
        <img src="../../assets/icons/Search.png" alt="search-icon">
        <input type="text" class="search-bar" placeholder="Search...">
      </div>
      <div class="navbar-right">
        <ul class="navbar-items-right">
          <li>Support</li>
          <li>FAQ</li>
          <li>
            <img src="../../assets/icons/Bell.png" alt="alert">
          </li>
          <li>
            <div>
              <p class="greeting">Hello</p>
              <p>Oluwaleke Ojo</p>
            </div>
          </li>
          <li>
            <img src="../../assets/images/profile-photo.png" alt="profile-photo">
          </li>
        </ul>
      </div>
    </div>
    
  </nav>