<div class="sidebar-header">
    <button class="header-button">GENERATE INVOICE</button>
  </div>

  <div class="inner">
    <p class="sidebar-sub-header">Main</p>

    <ul class="sidebar-items">
      <li class="sidebar-item active">
        <img src="../../assets/icons/Overview.png" alt="Overview" />
        <span class="p-2">Overview</span>
      </li>
    </ul>

    <p class="sidebar-sub-header">Payments</p>

    <ul class="sidebar-items">
      <li class="sidebar-item">
        <img src="../../assets/icons/all-payments.png" alt="all-payments" />
        <span class="p-2">All payments</span>
      </li>
      <li class="sidebar-item">
        <img
          src="../../assets/icons/reconciled-payments.png"
          alt="reconciled-payments"
        />
        <span class="p-2">Reconciled Payments</span>
      </li>
      <li class="sidebar-item">
        <img
          src="../../assets/icons/un-reconciled-payments.png"
          alt="un-reconciled-payments"
        />
        <span class="p-2">Un - Reconciled Payments</span>
      </li>
      <li class="sidebar-item">
        <img src="../../assets/icons/manuals-settlement.png" alt="manuals-settlement" />
        <span class="p-2">Manual Settlement</span>
      </li>
    </ul>

    <p class="sidebar-sub-header">Orders</p>

    <ul class="sidebar-items">
      <li class="sidebar-item">
        <img src="../../assets/icons/all-orders.png" alt="all-orders" />
        <span class="p-2">All Orders</span>
      </li>
      <li class="sidebar-item">
        <img src="../../assets/icons/pending-orders.png" alt="pending-orders" />
        <span class="p-2">Pending Orders</span>
      </li>
      <li class="sidebar-item">
        <img src="../../assets/icons/reconciled-oders.png" alt="reconciled-oders" />
        <span class="p-2">Reconciled Orders</span>
      </li>
    </ul>

    <ul class="sidebar-items">
      <li class="sidebar-item p-t-2">
        <img src="../../assets/icons/merchant-profile.png" alt="merchant-profile" />
        <span class="p-2">Merchant Profile</span>
      </li>
    </ul>

  </div>